/vendor
/packages/*/vendor
composer.lock
.DS_Store
.idea/
*.swp
*.swo
.env
.env.dev
auth.json
node_modules/
bootstrap/cache
public/build
/storage/*.key
/storage/pail
/storage/logs
/storage/framework
.phpunit.result.cache
.phpunit.cache
/coverage
/docs/.vitepress/dist
docs/.vitepress/cache/

# QA tools
.infection/
infection.log
infection-summary.log
.rector-cache/
